<template>
  <div id="app">
    <ViewC />
  </div>
</template>

<script>
export default {
  name: 'CaiView',
  components: {
    ViewC: () => import('@/components/ViewC.vue')
  }
}
</script>

<style>

</style>