<template>
  <div id="app">
    <Gcai />
  </div>
</template>

<script>
export default {
  name: 'IEC',
  components: {
    Gcai: () => import('@/components/Gcai.vue')
  }
}
</script>

<style>

</style>
