<template>
  <div class="container-fluid">
            <div class="row">              
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">
                       <div class="col-sm-12 wrapper-bl">
                           <section class="wrapper-bl-bc">
                                <div class="header-bl">
                                   Nouvelle instruction
                                </div>
                                <div>
                                    <form>
                                        <div class="form-group row">
                                          <label for="staticEmail" class="col-sm-2 col-form-label">Nom du projet</label>
                                          <div class="col-sm-10">
                                            <input v-model="newTodo.title" type="text" class="form-control" id="staticEmail">
                                          </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="rl" class="col-sm-2 col-form-label">Réunion lancement</label>
                                            <div class="col-sm-10">
                                                <input type="date" id="start" name="trip-start"
                                                 v-model="newTodo.daterl">
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <input v-model="picked" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="CAI" checked>
                                            <label class="form-check-label" for="exampleRadios1">
                                              CAI
                                            </label>
                                          </div>
                                          <div class="form-check">
                                            <input v-model="picked" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="FQE">
                                            <label class="form-check-label" for="exampleRadios2">
                                              FQE
                                            </label>
                                          </div>
                                          <br>
                                        <button type="button" class="btn btn-primary" v-on:click="addTodo">Créer</button>
                                      </form>
                                </div>                            
                           </section>                             
                       </div>                      
                   </div>
                </div>
            </div>
        </div>    
</template>

<script>
import api from '../Api';

  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        todos: [],
        newTodo: [],
        picked: [],
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

  

    methods: {  
    addTodo: function () {  
        var ti = this.newTodo.title;
        var dta = this.newTodo.daterl;
        var rl = this.newTodo.daterl;//[{"title": "Etape 1","description": null,"datej": "08/05/2020"}]
        var opti = this.picked;
        var rl = JSON.parse('{"title":"' + ti + '","typep":"' + opti + '","allTheDates":[{"caiTitle":"' + ti + '","title":"Réunion de lancement", "description":" ", "status":"ko","datej":"' + dta + '"}]}'); 
        
        // var rll = JSON.parse('{"title":"Phase5","allTheDates":[{"title":"Etape 1","description":null,"datej":"2020-11-11"}]}');
        console.log(rl);
       api.createNew(rl).then((response) => {         
          this.$log.debug("c'est bon:", response);  
          // this.todos.push({  
          //   id: response.data.id
          
          // })  
          window. location. replace("/IEC")
        }).catch((error) => {  
          this.$log.debug(error);  
          this.error = "nop"  
        });  

      // this.newTodo = ''  
      },
        handleErrorClick: function () {  
        this.error = null;  
        },    
        }  
  }

  export default Todos
</script>

<style>

</style>