<template>
<div class="container-fluid">
            <div class="row">              
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">
                       <div class="col-sm-6 wrapper-bl">
                           <section class="wrapper-bl-bc">
                                <div class="header-bl">
                                    Liste des présences / 24 avril 2020
                                </div>
                                <div>
                                    <table class="table table-striped">
                                        <thead>
                                          <tr>
                                            <th scope="col">Prénom</th>
                                            <th scope="col">Nom</th>
                                            <th class="tt-ce" scope="col">Présents</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td>Jimmy </td>
                                            <td>Doan  </td>
                                            <td class=" tt-ce fas-g"><i class="fas fa-circle"></i></td>
                                          </tr>
                                          <tr>
                                            <td>Bruno </td>
                                            <td>Paul </td>
                                            <td class=" tt-ce fas-j"><i class="fas fa-circle"></i></td>
                                          </tr>
                                          <tr>
                                            <td>Victor</td>
                                            <td>Victor </td>
                                            <td class="tt-ce fas-r"><i class="fas fa-circle"></i></td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>                            
                           </section>   
                           
                           <section class="wrapper-bl-bc">
                            <div class="header-bl">
                                Alertes
                            </div>
                            <div>
                                <div class="alert alert-danger" role="alert">
                                    La fiche navette pour le projet <strong>Heracles</strong> n'a pas été envoyé à la DGSSI. Retard de <strong>4</strong> jours
                                  </div>

                                  <div class="alert alert-danger" role="alert">
                                    Le support  pour le projet <strong>Miaou</strong> n'a pas été envoyé dans les temps au bureau SI2B. Retard de <strong>2</strong> jours
                                  </div>


                                  <div class="alert alert-warning" role="alert">
                                    <strong>Dead line</strong> en approche la fiche navette pour le projet <strong>Pilou pilou</strong> n'a pas été envoyé à la DGSSI. Il reste <strong>6 </strong>jours
                                  </div>
                            </div>                            
                       </section>   
                           
                       </div>
                       <div class="col-sm-6 wrapper-bl">
                            <section class="wrapper-bl-bc">
                                <div class="header-bl">
                                    Bloc notes
                                </div>
                                <div>
                                    Le retard sur le projet heracles est dû au fait que j'ai pas envie de travailler na
                                    <br><br>
                                    On sait depuis longtemps que travailler avec du texte lisible et contenant du sens est source de distractions, et empêche de se concentrer sur la mise en page elle-même.
                                    <br><br>
                                    Implémenter chart js pour faire de la métrique nombre de projet rendu etc
                                    Le retard sur le projet heracles est dû au fait que j'ai pas envie de travailler na
                                    <br><br>
                                    Le retard sur le projet heracles est dû au fait que j'ai pas envie de travailler na
                                    <br><br>
                                    Le retard sur le projet heracles est dû au fait que j'ai pas envie de travailler na
                                    <br><br>
                                    Le retard sur le projet heracles est dû au fait que j'ai pas envie de travailler na
                                    <br><br>
                                </div>
                            </section>

                         
                       </div>
                   </div>
                </div>
            </div>
        </div>    
</template>

<script>
import api from '../Api';

  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        todos: [],
        newTodo: '',
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

   mounted() {  
    api.getAll()  
    .then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.todos = response.data  
    })  
        .catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    })  
        .finally(() => this.loading = false)  
    },

    computed: {
        getAllCAI: function () {
            return this.todos
        }
    },

    methods: {  
        handleErrorClick: function () {  
        this.error = null;  
        },    
        }  
  }

  export default Todos
</script>

<style>

</style>