<template>
<div class="container-fluid">
            <div class="row">
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">

                    <div class="col-sm-6 wrapper-bl">
                           <section class="wrapper-bl-bc">
                            <div class="header-bl">
                                Alertes
                            </div>
                               <div v-for="item of getAllA">   
                              <div v-if="item.typeAlerte === 'Danger'" class="alert alert-danger " role="alert" >                   
                                Le Jalon <strong> {{ item.caiTitle }}</strong>
                                du projet {{ item.titi }}.
                                Retard de <strong>{{ item.nbJours }}</strong> jours
                              </div>
                              <div v-else class="alert alert-warning " role="alert" >                   
                                Le Jalon <strong> {{ item.caiTitle }}</strong>
                                du projet {{ item.caiTitle }}.
                                Il reste <strong>{{ item.nbJours }}</strong> jours avant la dead line
                              </div>
                            </div>
                       </section>

                       </div>
                       <div class="col-sm-6 wrapper-bl">
                        <section class="wrapper-bl-bc">
                             <div class="header-bl">
                                Créer une nouvelle instruction
                             </div>
                             <div>
                                <a href="/CreateCai"><button type="button" class="btn btn-primary">Créer</button></a>
                             </div>
                        </section>
                        </div>
                       <div class="col-sm-12 wrapper-bl">
                            <section class="wrapper-bl-bc">
                                <div class="header-bl">
                                   CAI en cours
                                </div>
                                <div>
                                    <table class="table table-bordered table-striped">
                                        <thead>
                                          <tr>
                                            <th>Nom du projet</th>
                                            <th>Type</th>
                                            <th>Réunion de lancement</th>
                                            <th>Pré CAI</th>
                                            
                                          </tr>
                                        </thead>
                                          <tr v-for="c in getAllCAI" 
                                          :key="c.id">
                                            <td>
                                              <a :href="'/CaiView/' + c.id">{{ c.title }}</a>
                                              </td>
                                            <td> {{ c.typep }} </td>

                                            <td> {{ c.allTheDates[0].datej }} </td>
                                            <td>  </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                </div>
                            </section>
                       </div>
                   </div>
                </div>
            </div>
        </div>
</template>

<script>
import api from '../Api';

  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        dt: [],
        dst: [],
        theCAI: [],
        newTodo: '',
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

   mounted() {  
    api.getAll().then(response => {  
    var data = response.data.filter((obj, pos, arr) => {
      return arr.map(mapObj =>
            mapObj.id).indexOf(obj.id) == pos;
    });
      this.dt = data
    }).catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    }).finally(() => this.loading = false)  

     api.getAllAlert().then(response => {  
      this.$log.debug("Data loaded for alert: ", response.data)  
      this.dst = response.data  
    }).catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    }).finally(() => this.loading = false) 
    },

    computed: {
        getAllCAI: function () {
            return this.dt
        },
        getAllA: function () {
            return this.dst
        }
    },

    methods: {  
      handleErrorClick: function () {
        this.error = null;  
      }
    }
  }

  export default Todos
</script>

<style>

</style>