<template>
 <div class="container-fluid">
            <div class="row">              
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">                    
                       <div class="col-sm-12 wrapper-bl">
                            <section class="wrapper-bl-bc">                               
                                <div>
                                    <div id='wrap'></div>
                                    <div id='calendar'></div>
                                    <div style='clear:both'></div>
                                </div>
                            </section>
                       </div>
                   </div>
                </div>
            </div>
        </div>   
</template>

<script>
import api from '../Api';

  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        todos: [],
        newTodo: '',
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

   mounted() {  
    api.getAll()  
    .then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.todos = response.data  
    })  
        .catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    })  
        .finally(() => this.loading = false)  
    },

    computed: {
        getAllCAI: function () {
            return this.todos
        }
    },

    methods: {  
        handleErrorClick: function () {  
        this.error = null;  
        },    
        }  
  }

  export default Todos
</script>

<style>
            /* body {
                margin-top: 40px;
                text-align: center;
                font-size: 14px;
                font-family: "Helvetica Nueue",Arial,Verdana,sans-serif;
                background-color: #DDDDDD;
                } */
        
            #wrap {
                width: 1100px;
                margin: 0 auto;
                }
        
            #external-events {
                float: left;
                width: 150px;
                padding: 0 10px;
                text-align: left;
                }
        
            #external-events h4 {
                font-size: 16px;
                margin-top: 0;
                padding-top: 1em;
                }
        
            .external-event { /* try to mimick the look of a real event */
                margin: 10px 0;
                padding: 2px 4px;
                background: #3366CC;
                color: #fff;
                font-size: .85em;
                cursor: pointer;
                }
        
            #external-events p {
                margin: 1.5em 0;
                font-size: 11px;
                color: #666;
                }
        
            #external-events p input {
                margin: 0;
                vertical-align: middle;
                }
        
            #calendar {
        /* 		float: right; */
                margin: 0 auto;
                /* width: 900px; */
                background-color: #FFFFFF;
                  border-radius: 6px;
                box-shadow: 0 1px 2px #C3C3C3;
                }
</style>