<template>
 <div class="container-fluid">
            <div class="row">              
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">
                       <div class="col-sm-12 wrapper-bl">
                           <section class="wrapper-bl-bc">
                                <div class="header-bl">
                                   Recherche 
                                </div>
                                <div>
                                    <div class="md-form active-pink active-pink-2 mb-3 mt-0">
                                        <input class="form-control" id="myInput" type="text" placeholder="Rechercher">
                                        <br>
                                        <form>                         
                                            <div class="form-check">
                                              <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                              <label class="form-check-label" for="exampleCheck1">Projets fini</label>
                                             
                                            </div>
                                            <div class="form-check">
                                                <input type="checkbox" class="form-check-input" id="exampleCheck2">
                                                <label class="form-check-label" for="exampleCheck2">Projets En cours</label>
                                              </div>
                                            
                                          </form><br>
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                              <tr>
                                                <th>Nom du projet</th>
                                                <th>Etat</th>
                                                <th>Début</th>
                                                <th>Fin</th>
                                                <th>Architecte</th>
                                              </tr>
                                            </thead>
                                            <tbody id="myTable">
                                              <tr>
                                                <td>Heracles</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>victor</td>
                                              </tr>
                                              <tr>
                                                <td>Thor</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Jimmy</td>
                                              </tr>
                                              <tr>
                                                <td>Coco</td>
                                                <td>En cours</td>
                                                <td>02/02/2020</td>
                                                <td>----</td>
                                                <td>René, Victor</td>
                                              </tr>
                                              <tr>
                                                <td>Amande</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Hichem</td>
                                              </tr>
                                              <tr>
                                                <td>Tulipe</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Jimmy, Hichem</td>
                                              </tr>
                                              <tr>
                                                <td>Crème</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Victor, Roméo</td>
                                              </tr>
                                              <tr>
                                                <td>Koi</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Jimmy</td>
                                              </tr>
                                              <tr>
                                                <td>Clavier</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Hichem</td>
                                              </tr>
                                              <tr>
                                                <td>Super Carotte</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Emile</td>
                                              </tr>
                                              <tr>
                                                <td>Oracle</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Victor</td>
                                              </tr>
                                              <tr>
                                                <td>Aurora</td>
                                                <td>Terminer</td>
                                                <td>02/02/2020</td>
                                                <td>02/02/2020</td>
                                                <td>Steve</td>
                                              </tr>
                                            </tbody>
                                          </table><br>
                                        
                                          <nav class="navi" aria-label="Page navigation example">
                                            <ul class="pagination">
                                              <li class="page-item"><a class="page-link" href="#">Précédent</a></li>
                                              <li class="page-item"><a class="page-link" href="#">2018</a></li>
                                              <li class="page-item"><a class="page-link" href="#">2019</a></li>
                                              <li class="page-item active"><a class="page-link" href="#">2020</a></li>
                                              <li class="page-item disabled"><a class="page-link" href="#">Suivant</a></li>
                                            </ul>
                                          </nav>
                                      </div>
                                </div>                            
                           </section>  
                       </div>                    
                   </div>
                </div>
            </div>
        </div> 
</template>

<script>
import api from '../Api';

  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        todos: [],
        newTodo: '',
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

   mounted() {  
    api.getAll()  
    .then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.todos = response.data  
    })  
        .catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    })  
        .finally(() => this.loading = false)  
    },

    computed: {
        getAllCAI: function () {
            return this.todos
        }
    },

    methods: {  
        handleErrorClick: function () {  
        this.error = null;  
        },    
        }  
  }

  export default Todos
</script>

<style>
 .navi{
                                                text-align:center;
                                                display: flex;;
                                                justify-content: center;
                                                align-items: center;
                                            }

                                             .form-check{
                                                    display: inline-block;
                                                    padding-right: 15px;;
                                                }
                                                .form-group{
                                                    display: inline-block;
                                                }
</style>