<template>
 <div class="container-fluid">
            <div class="row">              
                <div class="col-sm-12 wrapper-touti">
                   <div class="row">
                    <div class="col-sm-8 wrapper-bl">

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nouveau Jalon</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">         
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="exampleFormControlSelect1">Titre</label>
          <input v-model="jalonN.title" type="text" class="form-control" id="exampleFormControlSelect1" >
        </div>
         <div class="form-group">
          <label for="exampleFormControlSelect1">Description</label>
          <input v-model="jalonN.description" type="text" class="form-control" id="exampleFormControlSelect1" >
        </div>
        <div class="form-group">
          <label for="DateForJalon">Date</label>
          <input v-model="jalonN.dateNew" type="date" class="form-control" id="DateForJalon" >
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fermer</button>
        <button type="button" class="btn btn-primary" v-on:click="addJalon">Sauvegarder</button>
      </div>
    </div>
  </div>
</div>
                    <section class="wrapper-bl-bc">
                      <div class="header-bl">
                        Timeline                         <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Créer un nouveau Jalon
</button>
                      </div>
                      <div class="timeline">                                        
                        <!-- 
                         <div v-for="item of getAllAlertCAI">   
                      <div class="alert alert-danger " role="alert" >                   
                      Le Jalon <strong> {{ item.caiTitle }}</strong>.
                     
                      Retard de <strong>{{ item.nbJours }}</strong> jours
                      </div>:value="item.datej" type date aaaa-mm-dd
                    </div>      
                        -->
                        <div v-for="item of getAllJalonCAI" class="row no-gutters justify-content-end justify-content-md-around align-items-start  timeline-nodes">
                            <div class="col-10 col-md-5 order-3 order-md-1 timeline-content">
                              <h3 v-if="item.status === 'ok'" class=" text-dark">                   
                                <span>{{ item.title }}</span>
                                <span>
                                  <span v-on:click="UpdateStatus(item.id)"  style='color:green; cursor: pointer;'>O</span> &nbsp;
                                  <span @click="clickSupress(item.id)" style='cursor: pointer;'>X</span>
                                </span>
                              </h3>
                              <h3 v-else class=" text-light">                   
                                <span>{{ item.title }}</span>
                                <span>
                                  <span  v-on:click="UpdateStatus(item.id)"  style='color:red; cursor: pointer;'>O</span>&nbsp;
                                  <span @click="clickSupress(item.id)" style='cursor: pointer;'>X</span>
                                  </span>
                              </h3>

                                <!-- <h3 class=" text-light"><span>{{ item.title }}</span><span><span v-on:click="UpdateStatus(item.id)">O</span> <span @click="clickSupress(item.id)">X</span></span></h3> -->
                                <p>{{ item.description }}</p>
                            </div>
                            <div class="col-2 col-sm-1 px-md-3 order-2 timeline-image text-md-center">
                                <img src="img/img13.png" class="img-fluid" alt="img">
                            </div>
                            <div class="col-10 col-md-5 order-1 order-md-3 py-3 timeline-date">
                                <time> 
                                  <input type="date" id="start" name="trip-start"
                                  :value="item.datej"> 
                                </time>
                            </div>
                        </div>
                    </div>
                    </section>

                    </div>
                    <div class="col-sm-4">
                    <section class="wrapper-bl-bc">   
                    <div class="header-bl">
                    Alertes <!--<span> {{ theCAI.title }}</span>-->
                    </div>
                    <div v-for="item of getAllAlertCAI">   
                      <div v-if="item.typeAlerte === 'Danger'" class="alert alert-danger " role="alert" >                   
                      Le Jalon <strong> {{ item.caiTitle }}</strong>.
                     
                      Retard de <strong>{{ item.nbJours }}</strong> jours
                      </div>
                       <div v-else class="alert alert-warning " role="alert" >                   
                      Le Jalon <strong> {{ item.caiTitle }}</strong>.
                     
                      Arrive à terme dans <strong>{{ item.nbJours }}</strong> jours
                      </div>
                    </div>                             
                    </section>   

                    <section class="wrapper-bl-bc">
                      <div class="header-bl">
                          Fichier uploadé
                      </div>
                      <div>


                          <h4>Tableau d'action</h4>
                        
                          <ul>
                                  <li><a href="#">V1 dd/mm/yyyy</a></li>
                          </ul>
                          <h4>Support de présentation</h4>
                        
                          <ul>
                              <li><a href="#">V1 dd/mm/yyyy</a></li>
                              <li><a href="#">V2 dd/mm/yyyy</a></li>
                              <li><a href="#">V3 dd/mm/yyyy</a></li>
                              <li><a href="#">V4 dd/mm/yyyy</a></li>
                              <li><a href="#">Ajout si2b dd/mm/yyyy</a></li>
                              <li><a href="#">Ajout si2c dd/mm/yyyy</a></li>
                          </ul>
                          <h4>Fiche navette</h4>
                          <ul>
                              <li><a href="#">V1 dd/mm/yyyy</a></li>
                          </ul>
                      </div>
                  </section>


                  <section class="wrapper-bl-bc">
                    <div class="header-bl">
                        Logs
                    </div>
                    <div>
                      <ul class="logset">
                        <li>
                          <div class="dio">
                            <div class="master">Upload</div>
                            <span class="moust">03/01/2020 Upload du tableau d'action</span>
                          </div>
                        </li>
                        <li>
                          <div class="dio">
                            <div class="master">Repport de jalon</div>
                            <div class="jalon">Jalon : Support SI2C</div>
                            <div class="initial">Date initial : <span>02/02/2020</span></div>
                            <div class="actuelle">Date actuelle : <span>17/02/2020</span></div>
                          </div>                                    
                          <div class="duo">Justine était malade du coup on repousse la dead line de 15 jours</div>
                        </li>
                        <li>
                          <div class="dio">
                            <div class="master">Upload</div>
                            <span class="moust">17/01/2020 Upload du support v1</span>
                          </div>
                        </li>  
                        <li>
                          <div class="dio">
                            <div class="master">Repport de jalon</div>
                            <div class="jalon">Jalon : Support SI2C</div>
                            <div class="initial">Date initial : <span>02/02/2020</span></div>
                            <div class="modif">Date modifié : <span>17/02/2020</span></div>
                            <div class="actuelle">Date actuelle : <span>27/02/2020</span></div>
                          </div>                                    
                          <div class="duo">Justine était ENCORE malade du coup on repousse la dead line de 10 jours</div>
                        </li> 
                        <li>
                          <div class="dio">
                            <div class="master">Repport de jalon</div>
                            <div class="jalon">Jalon : Support SI2C</div>
                            <div class="initial">Date initial : <span>02/02/2020</span></div>
                            <div class="modif">Date modifié : <span>17/02/2020</span></div>
                            <div class="modif">Date modifié : <span>27/02/2020</span></div>
                            <div class="actuelle">Date actuelle : <span>29/02/2020</span></div>
                          </div>                                    
                          <div class="duo">JUSTINE ça suffit cette fois c'est juste 2 jours</div>
                        </li>                              
                      </ul>
                    </div>    
                    </section>  
                </div>
            </div>    
            </div>
            </div>
            </div>
</template>

<script>
import api from '../Api';
let url = new URL(window.location.href);
let param = url.pathname.match(/(\d+)/);
//param[0]
// console.log(this.$route.query.test)
  const Todos = {
    name: 'Todos',
    props: {
      activeUser: Object
    },
    
    data: function() {
      return {
        theCAI: [],
        jalonN: [],
        theAlert: [],
        theJalon: [],
        newTodo: '',
        editedTodo: null,
        visibility: 'all',
        loading: true,
        error: null,
      }
    },

   mounted() {  
    api.getOne(param[0]).then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.theCAI = response.data  
    }).catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    }).finally(() => this.loading = false)

    api.GetAllAlertOfACai(param[0]).then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.theAlert = response.data  
    }).catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    }).finally(() => this.loading = false)

     api.GetAllJalonOfACai(param[0]).then(response => {  
      this.$log.debug("Data loaded: ", response.data)  
      this.theJalon = response.data  
    }).catch(error => {  
        this.$log.debug(error)  
        this.error = "Failed to load CAI"  
    }).finally(() => this.loading = false)
    },
    
    computed: {
        getOneCAI: function () {
            return this.theCAI
        },
        getAllAlertCAI: function () {
        return this.theAlert
        },
        getAllJalonCAI: function () {
        return this.theJalon
        }
    },

    methods: {  
      clickSupress: function (ids) {
        api.removeJalon(ids).then(() => {
          this.$log.debug("Item removed:", ids);  
          window.location.reload(); 
        }).catch((error) => {  
          this.$log.debug(error);  
          this.error = "Failed to remove jalon"  
        });
      },

      handleErrorClick: function () {  
        this.error = null;  
      },
      
      addJalon: function () {  
        var rl = JSON.parse('{"caiTitle":"' + this.theCAI.title + '","description":"' + this.jalonN.description + '","cai":"' + this.theCAI.id + '","title":"' + this.jalonN.title + '","datej":"' + this.jalonN.dateNew + '","status":"ko"}'); 

        console.log(rl)
        api.addNJalon(rl).then((response) => {         
          this.$log.debug("c'est bon:", response);  
        window.location.reload();
         
        }).catch((error) => {  
          this.$log.debug(error);  
          this.error = "nop"  
        }); 
        // // var stat = this.jalonN.title;
        // var rl = '{"id":"' + this.theCAI.id + '","title":"' + this.theCAI.title + '","typep":"' + this.theCAI.typep + '","allTheDates":[ '
        // // var rl = '{"id":"' + this.theCAI.id + '","title":"' + this.theCAI.title + '","typep":"' + this.theCAI.typep + '","allTheDates":[{"title":"Réunion de lancement","description":null,"datej":"2020-11-11"}]}'
        // // var rl = JSON.parse('{"id":"' + this.theCAI.id + '","title":"' + this.theCAI.title + '","typep":"' + this.theCAI.typep + '"}'); 
        

        // var allthe = this.theCAI.allTheDates
        
        // // console.log(rl)
        // allthe.forEach((item) => {
        //   rl += '{'
        //   rl += '"id":' + item.id + ','
        //   rl += '"title": "' + item.title + '",'
        //   rl += '"description": "' + item.description + '",'
        //   rl += '"status": "' + item.status + '",'
        //   rl += '"datej": "' + item.datej + '",'
        //   rl += '"cai": "' + this.theCAI.id + '",'
        //   rl += '"caiTitle": "' + this.theCAI.title + '"'
        //   rl += '},'
        // })

        //   rl += '{'
        //   rl += '"title": "' + this.jalonN.title + '",'
        //   rl += '"description": "' + this.jalonN.description + '",'
        //   rl += '"status": "ko",'
        //   rl += '"datej": "' + this.jalonN.dateNew + '",'
        //   rl += '"cai": "' + this.theCAI.id + '",'
        //   rl += '"caiTitle": "' + this.theCAI.title + '"'
        //   rl += '} ]}'
        //   var tiujf = rl
        //   var tisujf = JSON.parse(tiujf) 
        //   console.log(tiujf)
        //  api.updateCAI(this.theCAI.id, tisujf).then((response) => {         
        //   this.$log.debug("c'est bon:", response);  
         
        // }).catch((error) => {  
        //   this.$log.debug(error);  
        //   this.error = "nop"  
        // }); 

      // this.newTodo = ''  
      // console.log(this.theCAI)
      }, 
        UpdateStatus: function (id) {  
        var rl = '{"id":"' + this.theCAI.id + '","title":"' + this.theCAI.title + '","typep":"' + this.theCAI.typep + '","allTheDates":[ '
        var allthe = this.theCAI.allTheDates
        
        var len = 0;      
        allthe.forEach((item) => { len++; })
      var i = 0;
        allthe.forEach((item) => {
          i++
          t = item.status;
          if(item.id === id && item.status === 'ko')
            var t = 'ok';
          if(item.id === id && item.status === 'ok')
            var t = 'ko';

          rl += '{'
          rl += '"id":' + item.id + ','
          rl += '"title": "' + item.title + '",'
          rl += '"status": "' + t + '",'
          rl += '"description": "' + item.description + '",'
          rl += '"datej": "' + item.datej + '",'
          rl += '"cai": "' + this.theCAI.id + '",'
          rl += '"caiTitle": "' + this.theCAI.title + '"'
          if(len == i)
          rl += '}'
          else
           rl += '},'
        })
          rl += ']}'
          var tisujf = JSON.parse(rl) 

         api.updateCAIStatus(this.theCAI.id, tisujf).then((response) => {         
          this.$log.debug("c'est bon:", response);  
          window.location.reload();
         
        }).catch((error) => {  
          this.$log.debug(error);  
          this.error = "nop"  
        }); 

      // this.newTodo = ''  
      // console.log(this.theCAI)
      }, 
    }  
  }
  
  export default Todos

</script>

<style>
.text-light{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.text-dark{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #c7c7c7;
}
.text-light span{
  display: flex;
  cursor: pointer;
  color:#fff;
}

.text-darck span{
  display: flex;
  cursor: pointer;
}
</style>