<template>
  <div id="app">
    <Search />
  </div>
</template>

<script>
export default {
  name: 'Ss',
  components: {
    Search: () => import('@/components/Search.vue')
  }
}
</script>

<style>

</style>
