<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="<%= BASE_URL %>bootstrap.css" rel="stylesheet">
        <link href="<%= BASE_URL %>bootstrap-grid.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>style.css">
        <title>No soap</title>
        <script src="<%= BASE_URL %>js/jquery/jquery.min.js"></script>
        <script src="<%= BASE_URL %>js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="<%= BASE_URL %>site.js"></script>
        <!-- Calendar -->
        <script src='<%= BASE_URL %>calendar/js/jquery-ui.custom.min.js' type="text/javascript"></script>
        <script src='<%= BASE_URL %>calendar/js/fullcalendar.js' type="text/javascript"></script>
        <!-- Calendar -->
        <link href='<%= BASE_URL %>calendar/css/fullcalendar.css' rel='stylesheet' />
        <link href='<%= BASE_URL %>calendar/css/fullcalendar.print.css' rel='stylesheet' media='print' />
    </head>
  <body>
    <header>
      <nav class="nav">
        <div class="logo-minia"></div>
        <div class="nav-title">Instructions en cours</div>
        <div id="mainListDiv">
              <ul class="navlinks ">
                  <li><a href="#">Mon profil</a></li>
                  <li><a href="#">Se déconnecter</a></li>
              </ul>
          </div>
        </nav>
    </header>
    <div class="wrapper-navi">
      <ul>
          <li><a href="<%= BASE_URL %>Dashboard"><i class="fas fa-tachometer-alt"></i></a></li>
          <li><a href="<%= BASE_URL %>IEC"><i class="fas fa-tasks"></i></a></li>
          <li><a href="<%= BASE_URL %>Ss"><i class="fas fa-search"></i></a></li>         
      </ul>
    </div>
    <noscript>
      <strong>Serieux t'as pas de javascript en 2020 ?</strong>
    </noscript>
    <div id="app"></div>   
    <script src="https://kit.fontawesome.com/cbfe5d635f.js" crossorigin="anonymous"></script>
  </body>
</html>
