<!doctype html>
<html lang="fr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="<%= BASE_URL %>bootstrap.css" rel="stylesheet">
        <link href="<%= BASE_URL %>bootstrap-grid.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="<%= BASE_URL %>style.css">
        <title>No soap</title>
        <script src="<%= BASE_URL %>js/jquery/jquery.min.js"></script>
        <script src="<%= BASE_URL %>js/bootstrap/bootstrap.bundle.min.js"></script>
        <script src="<%= BASE_URL %>site.js"></script>
        <title>No soap</title>
    </head>
    <body class="no-pad-marg">      

        <!-- First bandeau -->
        <div class="container-fluid">
           <div class="row wrapper-acc">
                <div class="col-md-6 no-pad-marg nosaopimg"></div>
                <div class="col-md-6 no-pad-marg">
                    <div class="wrapper-form">
                        <div class="wrap-fo">
                            <div class="logo-min"></div>                  
                            <h1>No soap</h1> 
                            <form action="/Dashboard">
                                <div class="form-group">
                                    <label for="login">Identifiant</label>
                                    <input type="text" class="form-control" id="login" value="Jason">
                                </div>
                                <div class="form-group">
                                    <label for="password">Mot de passe</label>
                                    <input type="password" class="form-control" id="password" value="*********">
                                </div>
                                <button type="submit" class="btn btn-primary float-right">Se connecter</button>
                            </form>
                        </div>
                    </div>
                </div>
           </div>
        </div>  
        <script src="https://kit.fontawesome.com/51d424fa51.js" crossorigin="anonymous"></script>
    </body>
</html>
    