/* Google font */
/* @import url('https://fonts.googleapis.com/css?family=Poppins&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
/* General rules for spaces */
.no-pad-marg{
    padding:0;
    margin:0;
}
.wrapper-acc{
    height: 100vh;
}
.prl{
    padding:0 15px;
}

/* General rules for text */
.text-right{
    text-align:right;
}

body {
    font-family: 'Poppins', sans-serif!important;
    word-wrap: break-word;   
}

.nosaopimg{
    background-image: url('/nosoapaccueil.jpg');
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
}

.wrapper-form{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;    
    background-color: #f2f3f8;
}

.wrap-fo{
    width: 80%;    
}

.wrap-fo h1{
    text-align: center;
    margin-bottom:50px;
    margin-top: 12px;    
}
.logo-min{
    background-image: url('/chat.png');
    height: 100px;
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

/* nav */
header{
    height:45px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color:#78598b;
    font-size: 0.8em;
}
header nav {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center; 
}

header nav .logo-minia{
    background-image: url('/chat.png');
    height: 30px;
    width: 45px;
    background-position: left 3px center;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav div ul{    
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;   
}

header nav div  ul li{
    margin-right: 25px;
   
}

header nav div ul li a{
   color: #dfd3e9;
}

header nav div ul li a:hover{
   text-decoration: none;
   color: #e7e3eb;
}

.wrapper-navi{
    background-color: #78598b;
    height: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 11;
    top: 45px;
    left: 0;
    width: 45px;
    display: flex;
    flex-direction: row;
    font-size: 1em;
    color:#dfd3e9;
}

.wrapper-navi ul{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.wrapper-navi ul li{
   margin-top: 23px;
   display: flex;
   width: 100%;
   justify-content: center;
}



.wrapper-navi ul li a{
    color:#dfd3e9;
}


.wrapper-navi ul li a:hover{
    color:#e7e3eb;
    text-decoration: none;
}

.wrapper-touti {
    padding-top:55px;
    padding-left:70px;
    background-color: #f2f3f8;
}


.nav-title{
    color: #fff;
    font-weight: 700;
    font-size: 1.3em;
}

.wrapper-bl-bc{
    background-color:#fff;
    padding: 25px;
    margin-bottom: 25px;;
}

.wrapper-bl-bc .header-bl{
    font-weight: 700;
    padding: 0 0 7px 0;
    border-bottom: 1px solid black;
    margin-bottom: 15px;
}

.wrapper-bl-bc .content-bl img{
   width:100%;
}

.tt-ce{
    text-align: center;
}

.fas-r {
    color:#9b1414;
}

.fas-g {
    color:#108510;
}

.fas-j {
    color:#ddc914;
}

h4{
    font-size: 1.1em;
    padding-left: 13px;
}

/* Caldenrier */
.dateimp{
    list-style: none;
    margin: 0;
    padding: 0;    
}
.dateimp li{
    padding-bottom: 15px;
}

.dateimp li input{
    padding: 3px;
    min-width: 140px;
}

.dateimp li label{
    padding-left: 15px;
}

.logset{
    list-style: none;
    padding: 0;
    margin: 0;

}
.logset li{
    font-size: 0.8em;
    padding-bottom: 10px;;
}
.logset li .dio{
    padding-bottom: 3px;;
}
.logset li .dio div{
    padding-bottom: 3px;
    
}
.logset li .dio .master{
    font-weight: 700;
}
.logset li .dio .jalon{
    padding-left:8px;
}
.logset li .dio .initial{
    padding-left:8px;
}
.logset li .dio .initial span{
    color: #9b1414;
}
.logset li .dio .actuelle{
    padding-left:8px;
}
.logset li .dio .actuelle span{
    color: #108510;
}
.logset li .dio .modif{
    padding-left:8px;
}

.logset li .dio .modif span{
    color: #78598b;
}
.logset li .duo {
    padding-left: 15px;
    font-style: italic;
}
.moust{
    padding-left: 8px;
}

/* Timeline */
:root {
	--white: #ffffff;
	--black: #000000;
	--blue:#78598b;
	--gray:#ebebeb;
	--box-shadow1:0px 0px 18px 2px rgba(10, 55, 90, 0.15);
}
body{
	font-family: 'Roboto', sans-serif;
    color: #637280;
    /* -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none; */
}
:focus{
    outline: 0px solid transparent !important;
}
.timeline {
    padding: 50px 0;
    position: relative;
}
.timeline-nodes {
        padding-bottom: 25px;
        position: relative;
    }
.timeline-nodes:nth-child(even) {
    flex-direction: row-reverse;
}
.timeline h3, .timeline p {
    padding: 5px 15px;
} 
.timeline h3{
    font-weight: lighter;
    background: var(--blue);
}
.timeline p, .timeline time {
    color: var(--blue)
}
.timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}
.timeline-content {
    border: 1px solid var(--blue);
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: #ebebeb;
}
.timeline-nodes:nth-child(odd) h3,
.timeline-nodes:nth-child(odd) p {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-date {
    text-align: left;
}
 
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: right;
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: 100%;
    width: 0;
    border-left: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-image {
    position: relative;
    z-index: 1;
}
.timeline-image::before {
    content: "";
    width: 80px;
    height: 80px;
    border: 2px dashed var(--blue);
    border-radius: 50%;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    z-index: 1;
    

}
.timeline-image img {
    position: relative;
    z-index: 1;
    color: #fff;;
}
.timeline h3 {
    font-weight: 700;
    letter-spacing: .1rem;
}
/*small device style*/

@media (max-width: 767px) {
    .timeline-nodes:nth-child(odd) h3,
    .timeline-nodes:nth-child(odd) p {
    text-align: left
}
.timeline-nodes:nth-child(even) {
    flex-direction: row;
}
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 4%;
    width: 0;
    border-left: 2px dashed var(--blue);
    height: 100%;
    z-index: 1;
    transform: translateX(-50%);
}

.timeline p {
    font-size: 14px;
}
.timeline-image {
    position: absolute;
    left: 0%;
    top: 60px;
    /*transform: translateX(-50%;);*/
}
.timeline-nodes:nth-child(odd) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    left: auto;
    right: 100%;
    width: 0;
    border-left: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-content::after {
    content: "";
    position: absolute;
    top: 5%;
    right: 100%;
    width: 0;
    border-right: 10px solid var(--blue);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline-nodes:nth-child(even) .timeline-date {
    text-align: left;
}
.timeline-image::before {
    width: 65px;
    height: 65px;
}
}

/*extra small device style */
@media (max-width: 575px) {
    .timeline::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 3%;
}
.timeline-image {
    position: absolute;
    left: -5%;
    }
.timeline-image::before {
    width: 60px;
    height: 60px;
}
}


.btn-primary{
    background-color: #78598b!important;
    border: none;
}

